<mat-card>
  <mat-card-content>
    <form [formGroup]="form" autocomplete="none" novalidate>
      <div class="fx-row-space-between">
        <h3>Filter</h3>
        <button class="float-right" mat-mini-fab color="primary" type="reset">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <ng-container *ngFor="let field of fields">
        <mat-form-field appearance="fill">
          <mat-label>{{ field.label }}</mat-label>
          <ng-container [ngSwitch]="field.type">
            <input matInput *ngSwitchCase="'text'" [formControlName]="field.name">
            <input matInput *ngSwitchCase="'number'" [formControlName]="field.name" type="number">
            <input matInput *ngSwitchCase="'date'" [formControlName]="field.name" type="date">
            <mat-select *ngSwitchCase="'select'" [formControlName]="field.name">
              <mat-option></mat-option>
              <mat-option *ngFor="let option of field.options" [value]="option">
                {{field.label}} {{ option }}
              </mat-option>
            </mat-select>
          </ng-container>
        </mat-form-field>
      </ng-container>
    </form>
  </mat-card-content>
</mat-card>