@import 'themes/indigo-pink-theme';
@import 'flex-layout/flex-column';
@import 'flex-layout/flex-row';
@import 'angular-material';

.header {
    height: 60px;
}

.text {
    color: $primary;
}

.footer-text {
    float:right;
    padding-right: 8px;
    font-size: 14px;
    color: $primary;
}

.mat-card-product {
    margin: 5px 0;
    border: 0.4px solid $accent !important;
    border-radius: 8px !important;
}
