@import 'themes/indigo-pink-theme';
@import 'flex-layout/flex-column';
@import 'flex-layout/flex-row';
@import 'angular-material';

.header {
    height: 60px;
}

.text {
    color: $primary;
}

.footer-text {
    float:right;
    padding-right: 8px;
    font-size: 14px;
    color: $primary;
}

.float-right {
    float: right;
    margin-bottom: 8px;
}

.mat-card-item {
    margin: 5px 0;
    border: 0.4px solid $accent !important;
    border-radius: 10px !important;
}

h3 {
    margin: 0 !important;
}
