<app-product-filter (filtered)="onFiltered($event)"></app-product-filter>

<mat-card>
    <mat-card-content>
        <ng-container *ngIf="products$ | async as products">
            <div class="fx-row-space-between">
                <h3>Total: {{products.length}} product{{products.length > 1 ? 's' : ''}}</h3>
                <button class="float-right" mat-mini-fab color="primary" routerLink="create">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <ng-container *ngFor="let product of products">
                <app-product [product]="product"></app-product>
            </ng-container>
        </ng-container>
    </mat-card-content>
</mat-card>